{% extends "_html.twig" %}

{% block title %}文章标题{% endblock %}

{% block body %}
	<div class="article-page">
		<article class="weui_article">
			<h1 class="page_title">我是标题啊，我会很长哒测试标题啦 iPhone 6s Plus 见怪莫怪</h1>
			<section class="article-info">
				<span class="article-date">2016-02-08</span>
				<span class="article-writor">李四</span>
				<span class="article-source">财新网</span>
			</section>
			<section class="article-content">
				色無裡界廣成，至能計片：成不機早標空情南人立巴，一人老太地說案與回他演！他大如河了企深上朋的；正紙生有的像報醫？文增得益受人告所……報委廠，病來大行了片仍是千。與可面一節師大容職開內小年皮品專驚吃，坡大護是！會火所動最師充必後後無是都。和城小……有什音子們成後？
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				<p>山感的生進常天康自不……燈不高在能導就可認參些常不雲，的不色從發進驗香進到Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.明資也生不一之臺冷愛北；飛遠空流此低一。而在少成了愛候還音……洲東我遊，活學老做？</p>
			</section>
			<div class="article-count">
				<span class="article-read">阅读 674</span>
				<span class="article-like">点赞 45</span>
				<a class="article-detail" href="">详细数据</a>
			</div>
		</article>
	</div>
{% endblock %}

{% block defaultScript %}{% endblock %}
