{% extends "_html.twig" %}

{% block title %}文章标题{% endblock %}

{% block body %}
	<div class="article-page">
		<article class="weui_article">
			<h1 class="page_title">谷歌人工智能专家：不排除出现天网的可能性</h1>
			<section class="article-info">
				<span class="article-date">2016-02-08</span>
				<span class="article-writor">作者：李四</span>
				<br>
				<span class="article-source">原文出处：新浪科技</span>
				<span class="article-platform">转载自：知乎</span>
			</section>
			<section class="article-content">
				<p>李世石又输了。在这场万众瞩目的人机对战中，谷歌旗下DeepMind团队开发的人工智能AlphaGo围棋程序又一次击败了这位韩国的围棋世界冠军，在五局三胜的比赛中连下两城。看起来继国际象棋之后，人类智能在棋牌游戏的最后一块优势阵地也已经不复存在。</p>
				<br>
				<p>就在第二局比赛之前，谷歌一位资深人工智能工程师接受了新浪科技驻美记者的独家专访，就此次比赛以及人工智能的前景发表了他的看法。由于未获允许接受采访，他不便透露具体身份。需要再次强调的是，此次采访是在旧金山时间周三傍晚进行的，当时他还不知道比赛进程，更不知道李世石会再度告负。</p>
				<br>
				<p>问：此次比赛是人工智能的里程碑吗？</p>
				<p>答：这次比赛是人工智能领域的一个重要里程碑事件，因为研究人员已经从事围棋计算机程序研究数十年了。20年前，计算机在国际象棋领域击败了人类(注：1997年IBM的深蓝击败世界冠军卡斯帕罗夫)。20年后，电脑程序在围棋上也超越了人类。而此前很多研究人员还认为这至少还需要十年时间。围棋是此前仅存的人类能够击败电脑的完全信息博弈游戏(Perfect Information Game)。</p>
				<br>
				<p>问：谷歌人工智能团队有多少人？</p>
				<p>答：实际上，谷歌并没有一个叫做人工智能团队的部门。谷歌目前有两个主要团队负责深度学习的研究工作，包括谷歌大脑(Google Brain)以及这次参赛的DeepMind。AlphaGo项目是主要由伦敦的DeepMind团队负责的。我不能透露具体信息。Facebook现在也有一些研究人员在从事同样的项目。</p>

			</section>
			<div class="article-count">
				<span class="article-read">阅读 674</span>
				<span class="article-like">点赞 45</span>
				<a class="article-detail" href="">详细数据</a>
			</div>
		</article>
	</div>
{% endblock %}

{% block defaultScript %}{% endblock %}
